<!-- Footer -->
<footer id="footer">
  <div class="pattern-overlay">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <section class="col-lg-6 col-md-6 col-xs-12 col-sm-6 footer-one wow fadeIn">
            <h3 class="light">Quero Uma Loja</h3>
            <p>
              Quero Uma Loja é um projeto aberto, feito para os pequenos lojistas que querem começar a vender
              online sem a necessidade de caras estruturas ou serviços limitados.
            </p>
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three wow fadeIn">
            <!-- :) -->
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four wow fadeIn">
            <h3 class="light">Entre em contato</h3>
            <ul class="contact-us">
              <li>
                <i class="fa fa-phone"></i>
                <p><strong>Telefone:</strong> +55 48-00000-0000</p>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <p><strong>Email:</strong><a href="mailto:contato@queroumaloja.net">contato@queroumaloja.net</a></p>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- /Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <p class="credits">&copy; 2016 - <a href="#">Quero Um Loja</a></p>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <ul class="social social-icons-footer-bottom">
              <li class="facebook"><a href="https://facebook.com/QueroUmaLoja" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="https://twitter.com/queroumaloja" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="rss"><a href="/feed.xml" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Bottom -->
    <!-- /Footer Bottom -->
  </div>
</footer>