<!-- Footer -->
<footer id="footer">
  <div class="pattern-overlay">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one wow fadeIn">
            <h3 class="light">About</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two wow fadeIn">
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three wow fadeIn">
          </section>
          <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four wow fadeIn">
            <h3 class="light">Contact Us</h3>
            <ul class="contact-us">
              <li>
                <i class="fa fa-map-marker"></i>
                <p>
                  <strong class="contact-pad">Address:</strong> House: 325, Road: 2,<br> Mirpur DOHS <br>
                  Dhaka, Bangladesh
                </p>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <p><strong>Phone:</strong> +880 111-111-111</p>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <p><strong>Email:</strong><a href="mailto:support@fifothemes.com">support@fifothemes.com</a></p>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- /Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <p class="credits">&copy; 2016 - <a href="#">Quero Um Loja</a></p>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <ul class="social social-icons-footer-bottom">
              <li class="facebook"><a href="https://facebook.com/QueroUmaLoja" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="https://twitter.com/queroumaloja" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="rss"><a href="/feed.xml" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Bottom -->
    <!-- /Footer Bottom -->
  </div>
</footer>