<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Quero Uma Loja - Sua loja na internet do seu jeito</title>
  <meta name="description" content="Quero Uma Loja - Ecommerce">
  <meta name="author" content="Quero Uma Loja">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>

  <!-- Library CSS -->
  <link rel="stylesheet" href="{{ 'css/bootstrap.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ 'css/bootstrap-theme.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ 'css/fonts/font-awesome/css/font-awesome.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ 'css/animations.css' | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ 'css/superfish.css' | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ 'css/revolution-slider/css/settings.css' | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ 'css/revolution-slider/css/extralayers.css' | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ 'css/prettyPhoto.css' | prepend: site.baseurl }}" media="screen">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{{ 'css/style.css' | prepend: site.baseurl }}">

  <!-- Skin -->
  <link rel="stylesheet" href="{{ 'css/colors/green.css' | prepend: site.baseurl }}" class="colors">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{{ 'css/theme-responsive.css' | prepend: site.baseurl }}">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{{ 'img/ico/favicon.ico' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ 'img/ico/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/ico/apple-touch-icon-72.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/ico/apple-touch-icon-114.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'img/ico/apple-touch-icon-144.png' | prepend: site.baseurl }}">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ 'js/respond.min.js' | prepend: site.baseurl }}"></script>
  <![endif]-->

  <!--[if IE]>
    <link rel="stylesheet" href="{{ 'css/ie.css' | prepend: site.baseurl }}">
  <![endif]-->
</head>