<!-- Header -->
<header id="header">
  <!-- Header Top Bar -->
  <div class="top-bar">
    <div class="slidedown collapse">
      <div class="container">
        <div class="pull-left">
          <ul class="social pull-left">
            <li class="facebook"><a href="https://facebook.com/QueroUmaLoja"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a href="https://twitter.com/queroumaloja"><i class="fa fa-twitter"></i></a></li>
            <li class="rss"><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
        <div class="phone-login pull-right">
          <a><i class="fa fa-phone"></i> Contato : +55 00-00000-0000</a>
          <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i> Entrar</a>
          <a href="#" data-toggle="modal" data-target="#registrationModal"><i class="fa fa-edit"></i> Cadastro</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Header Top Bar -->

  <!-- Main Header -->
  <div class="main-header">
    <div class="container">
      <!-- TopNav -->
      <div class="topnav navbar-header">
        <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
          <i class="fa fa-angle-down icon-current"></i>
        </a>
      </div>
      <!-- /TopNav-->
      <!-- Logo -->
      <div class="logo pull-left">
        <h1>
          <a href="index.html">
            Quero Uma Loja
          </a>
        </h1>
      </div>
      <!-- /Logo -->
      <!-- Mobile Menu -->
      <div class="mobile navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
          <i class="fa fa-bars fa-2x"></i>
        </a>
      </div>
      <!-- /Mobile Menu -->
      <!-- Menu Start -->
      <nav class="collapse navbar-collapse menu">
        <ul class="nav navbar-nav sf-menu">
          <li>
            <a href="/" class="sf-with-ul">
              Home
            </a>
          </li>
          <li>
            <a href="/about" class="sf-with-ul">
              Sobre nós
            </a>
          </li>
          <li>
            <a href="/services" class="sf-with-ul">
              Serviços
            </a>
          </li>
          <li>
            <a href="/clients" class="sf-with-ul">
              Clientes
            </a>
          </li>
          <li>
            <a href="/contact" class="sf-with-ul">
              Contato
            </a>
          </li>
        </ul>
      </nav>
      <!-- /Menu -->
    </div>
  </div>
  <!-- /Main Header -->
</header>
<!-- /Header -->